  <section>
    <div class="left" href="accueil.php">
      <img class="pizza-image" src="image/Pizza.webp" alt="Pizza image"/>
    </div>

    <div class="right">
      <div class="promotion">
        <h2>
          Commandez en ligne et profitez d'une réduction en cas de retard !
        </h2>
        <p>
          *Chez PizzaExpress, nous nous engageons à vous livrer vos pizzas en
          moins de 45 minutes. Si nous manquons cette promesse, votre
          prochaine commande bénéficiera automatiquement d'une réduction de
          50%
        </p>
      </div>

      <h2>Commandez vos pizzas en ligne</h2>

      
      <div class="container">